:root {
  --grid-spacing: 1%;
  --max-width: 1280px;
  --column-num: 12;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

[class^='col-'] {
  flex-shrink: 0;
  padding: 10px 10px 10px 10px;
  margin-right: var(--grid-spacing);
  background-color: #cff09e;
  border: .5px solid #3b8686;
  box-sizing: border-box;
  font-size: 13px;
  content: '';
}

[class^='col-']:last-child {
  margin-right: 0%;
}

[class^='col-'] span:last-child {
  display: none;
}


.container {
  max-width: var(--max-width);
  height: 100%;
  margin: auto;
}

.container > header:first-child {
  font-size: 70px;
  text-align: center;
}

.row {
  display: flex;
  margin-top: var(--grid-spacing);
}

@media screen and (min-width: 768px) {
  
  .col-md-1 {
    width: calc((100%/12) - var(--grid-spacing)*11/12);
  }

  .col-md-2 {
    width: calc((100%/6) - var(--grid-spacing)*10/12);
  }

  .col-md-3 {
    width: calc((100%/4) - var(--grid-spacing)*9/12);
  }

  .col-md-4 {
    width: calc((100%/3) - var(--grid-spacing)*8/12);
  }

  .col-md-5 {
    width: calc((100%/2.4) - var(--grid-spacing)*7/12);
  }

  .col-md-6 {
    width: calc((100%/2) - var(--grid-spacing)*6/12);
  }

  .col-md-7 {
    width: calc((100%/1.714285714285714) - var(--grid-spacing)*5/12);
  }

  .col-md-8 {
    width: calc((100%/1.5) - var(--grid-spacing)*4/12);
  }

  .col-md-9 {
    width: calc((100%/1.333333333333333) - var(--grid-spacing)*3/12);
  }

  .col-md-10 {
    width: calc((100%/1.2) - var(--grid-spacing)*2/12);
  }
  .col-md-11 {
    width: calc((100%/1.090909090909091) - var(--grid-spacing)*1/12);
  }
  .col-md-12 {
    width: 100%;
  }

  .col-offset-md-1 {
    margin-left: calc((100%/12) - var(--grid-spacing)*11/12 + var(--grid-spacing));
  }

  .col-offset-md-2 {
    margin-left: calc((100%/6) - var(--grid-spacing)*10/12 + var(--grid-spacing)) ;
  }

  .col-offset-md-3 {
    margin-left: calc((100%/4) - var(--grid-spacing)*9/12 + var(--grid-spacing));
  }

  .col-offset-md-4 {
    margin-left: calc((100%/3) - var(--grid-spacing)*8/12 + var(--grid-spacing));
  }

  .col-offset-md-5 {
    margin-left: calc((100%/2.4) - var(--grid-spacing)*7/12 + var(--grid-spacing));
  }

  .col-offset-md-6 {
    margin-left: calc((100%/2) - var(--grid-spacing)*6/12 + var(--grid-spacing));
  }

  .col-offset-md-7 {
    margin-left: calc((100%/1.714285714285714) - var(--grid-spacing)*5/12 + var(--grid-spacing));
  }

  .col-offset-md-8 {
    margin-left: calc((100%/1.5) - var(--grid-spacing)*4/12 + var(--grid-spacing));
  }

  .col-offset-md-9 {
    margin-left: calc((100%/1.333333333333333) - var(--grid-spacing)*3/12 + var(--grid-spacing));
  }

  .col-offset-md-10 {
    margin-left: calc((100%/1.2) - var(--grid-spacing)*2/12 + var(--grid-spacing));
  }

  .col-offset-md-11 {
    margin-left: calc((100%/1.090909090909091) - var(--grid-spacing)*1/12 + var(--grid-spacing));
  }

  .col-offset-md-12 {
    margin-left: 100%;
  }
}

@media screen and (max-width: 768px) {
  [class^='col-'] span:first-child {
    display: none;
  }

  [class^='col-'] span:last-child {
    display: inline;
  }

  .col-sm-1 {
    width: calc((100%/12) - var(--grid-spacing)*11/12);
  }

  .col-sm-2 {
    width: calc((100%/6) - var(--grid-spacing)*10/12);
  }

  .col-sm-3 {
    width: calc((100%/4) - var(--grid-spacing)*9/12);
  }

  .col-sm-4 {
    width: calc((100%/3) - var(--grid-spacing)*8/12);
  }

  .col-sm-5 {
    width: calc((100%/2.4) - var(--grid-spacing)*7/12);
  }

  .col-sm-6 {
    width: calc((100%/2) - var(--grid-spacing)*6/12);
  }

  .col-sm-7 {
    width: calc((100%/1.714285714285714) - var(--grid-spacing)*5/12);
  }

  .col-sm-8 {
    width: calc((100%/1.5) - var(--grid-spacing)*4/12);
  }

  .col-sm-9 {
    width: calc((100%/1.333333333333333) - var(--grid-spacing)*3/12);
  }

  .col-sm-10 {
    width: calc((100%/1.2) - var(--grid-spacing)*2/12);
  }
  .col-sm-11 {
    width: calc((100%/1.090909090909091) - var(--grid-spacing)*1/12);
  }
  .col-sm-12 {
    width: 100%;
  }

  .col-offset-sm-1 {
    margin-left: calc((100%/12) - var(--grid-spacing)*11/12 + var(--grid-spacing));
  }

  .col-offset-sm-2 {
    margin-left: calc((100%/6) - var(--grid-spacing)*10/12 + var(--grid-spacing)) ;
  }

  .col-offset-sm-3 {
    margin-left: calc((100%/4) - var(--grid-spacing)*9/12 + var(--grid-spacing));
  }

  .col-offset-sm-4 {
    margin-left: calc((100%/3) - var(--grid-spacing)*8/12 + var(--grid-spacing));
  }

  .col-offset-sm-5 {
    margin-left: calc((100%/2.4) - var(--grid-spacing)*7/12 + var(--grid-spacing));
  }

  .col-offset-sm-6 {
    margin-left: calc((100%/2) - var(--grid-spacing)*6/12 + var(--grid-spacing));
  }

  .col-offset-sm-7 {
    margin-left: calc((100%/1.714285714285714) - var(--grid-spacing)*5/12 + var(--grid-spacing));
  }

  .col-offset-sm-8 {
    margin-left: calc((100%/1.5) - var(--grid-spacing)*4/12 + var(--grid-spacing));
  }

  .col-offset-sm-9 {
    margin-left: calc((100%/1.333333333333333) - var(--grid-spacing)*3/12 + var(--grid-spacing));
  }

  .col-offset-sm-10 {
    margin-left: calc((100%/1.2) - var(--grid-spacing)*2/12 + var(--grid-spacing));
  }

  .col-offset-sm-11 {
    margin-left: calc((100%/1.090909090909091) - var(--grid-spacing)*1/12 + var(--grid-spacing));
  }

  .col-offset-sm-12 {
    margin-left: 100%;
  }
}